@import 'bootstrap';

.container {
    margin-top: 30px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

p.lead {
    margin-top: 25px;
    margin-bottom: 25px;
}

.jumbotron#questions {
    display: none;
}

.jumbotron#loading {
    display: none;
}

.achelink {
    vertical-align: bottom;
    width: 100%;
    text-align: right;
    float: right;
}
